*.log
*.zip
*.tar.gz

testbench/tapasco-pe-tb/.cxl.ip
*.pyc
*.jou
vivado*.str

build/
verilog/
fuzzer_ip/
*_pe/
core/IP

.vscode/

/host/fuzzer_host_libafl/target
/host/fuzzer_host_libafl/Cargo.lock
/host/fuzzer_host_libafl/ci_logs

